/* global reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* google fonts */

@import url('https://fonts.googleapis.com/css?family=Play:400,700&display=swap');

body {
    background-color: lightgray;
}

h1 {
    font-family: 'Play', sans-serif;
    font-size: 36px;
    text-align: center;
    padding: 50px
}

#leader-board {
    width: 600px;
    margin: 30px auto;
    border: 3px solid white;
    font-size: 120px;
    font-family: 'Play', sans-serif;
    border-radius: 5px;
    text-align: center;
    padding: 20px 10px;
    position: relative;
}

#user {
    font-family: 'Play', sans-serif;
    background-color: black;
    color: white;
    font-size: 24px;
    position: absolute;
    padding: 10px 20px;
    top: -30px;
    left: 50px;
}
#comp {
    font-family: 'Play', sans-serif;
    background-color: black;
    color: white;
    font-size: 24px;
    position: absolute;
    padding: 10px 20px;
    top: -30px;
    right: 50px;

}

#message {
    font-family: 'Play', sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
}
.objects {
    text-align: center;
}
.object {
    display: inline-block;
    margin: 60px 50px 20px 50px;
    padding: 35px;
    border: black solid 2px;
    border-radius: 50%;
    transition: all 0.3s ease;
}
#p {
    padding: 35px 50px;
}
.object:hover {
    cursor: pointer;
    background-color: white;
}

.btn {
    display: flex;
    align-content: center;
    margin: 150px auto;
    width: 800px;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 4rem;
    margin: 0 auto;
    text-decoration: none;
    background: black;
    color: #ffffff;
    font-family: 'Play' sans-serif;
    font-size: 1.5rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background:white;
    color: black;
    border: black solid 2px;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

/* Glow border */

.green-glow {

    border: 4px solid green;
    box-shadow: 0 0 10px darkgreen;
}
.red-glow {

    border:  4px solid red;
    box-shadow: 0 0 10px darkred;
}
.grey-glow {

    border:  4px solid grey;
    box-shadow: 0 0 10px darkgrey;
}
